
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Roboto:wght@300&display=swap');

html,
body
 { 
   height:100%; 
   background:#0E0B1F;
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color:	#ac9ea7;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    
     text-transform: uppercase; 

     background: -webkit-linear-gradient(	#e9d949, 	#df41df);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }   


 .nav-link.backtotop, .nav-link.bottom {
  text-transform: uppercase; 
  background: -webkit-linear-gradient(	#e9d949, 	#df41df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #services h4, #projects h6 {
    background: -webkit-linear-gradient(	#7a7a7a, 	#494949);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
/* Dividers */
.divider {
  background: linear-gradient(90deg, 	#e9d949 0%,  	#b700b7 100%);
    padding: 7px 3px;
    margin: 20px 0;
  }

/* WHOLE NAVBAR COLOR  */
.navbar.navbar-expand-lg.navbar-light {

  background:#0E0B1F;
    text-transform: uppercase;
}

/* links in navbar */
.navbar.navbar-expand-lg.navbar-dark ul li a {  
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar.navbar-expand-lg.navbar-dark ul li a:hover {
  color: ex	#e9d949;
  transition: ease-in-out 0.5s;
}

/* navbar brand */
.navbar-brand.d-inline-block {
    text-transform: uppercase;
    color:rgba(180, 180, 180, 0.795);
}

.navbar-brand.d-inline-block:hover {
  color:	#e9d949;
  transition: ease-in-out 0.5s;
}

#navbarNavDropdown {
text-align: center;
}

/* 1 PAGE */

#home{
  background-image: url("images/mywebsite/intro.jpg");
 background-position: 100% 100%; 
  background-size: 100% 100%;
  display: inline-block;

  height: 720px;
  position: relative;
  width: 100%;
}

#home .overlay-section {
  background: rgba(0, 0, 0, 0.171) none repeat scroll 0 0; 
height: 100%;
  width: 100%;
 }  
#home .home-inner {
text-align: center;
margin:20px;
padding-top:70px;
}

/* 2 PAGE */

.about {
  padding: 20px 10px 60px;
}
.about .title-about {
  padding-top:20px;
}

.icofont-rounded-right, strong {
  color: 	#e9d949;
}

.subtitle {
  font-size:1.6rem;
}

/* ABOUT ME LIST - bullet removal */
.col-xl-12 ul li{
  list-style-type:none;
}

/* MY PHOTO */
.img-fluid {
box-shadow: 0 8px 32px 0  rgba(233, 217, 73, 0.315);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 70px;  */

clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}


/* 3 PAGE SKILLS */
.progress-bar {
  background: linear-gradient(278deg, rgba(0,0,0,0.5984768907563025) 0%, rgba(255,6,176,0.520045518207283) 100%);
}

.container.skills p{
  padding-bottom:10px;
}

#skills {
  padding: 20px 10px 30px;
}
#skills h2 {
  padding-top: 20px;
  

}

/* h2 in skills */
h2.font-weight-bold {
  padding-bottom:40px;
}

/* 4 PAGE SERVICES  */
#services {
  padding: 10px 10px 60px;
  margin:15px;
}

.services .icon-box {
  padding: 50px 30px;
  transition: all ease-in-out 0.3s;
  background: rgb(63,94,251);
background: linear-gradient(207deg, rgb(209, 197, 90) 32%, rgba(209,70,252,1) 94%);
  box-shadow: 0px 5px 90px 0px #9e3bdf49;
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}

.services .icon-box .icon {
  width: 64px;
  height: 64px;
  background:rgba(255, 255, 255, 0.212);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  font-size: 28px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color:  #333131;
  transition: ease-in-out 0.3s;
  text-shadow: none;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #1d1d1dad;
}

.services .icon-box:hover {
  transform: translateY(-10px);
  border-color: #322fdbd8;
  
}

.services .icon-box:hover h4 a {
  color: #322fdbd8;
text-decoration: none;
text-shadow: none;
}

.services .icon-box p {
  font-size: 1rem;
}







/* 5 PAGE PROJECTS */
#projects {
  padding: 20px 10px 40px 10px;
  
}

#projects h2 {
  padding: 10px 0 25px;
}




.thumb-content p {
  color: rgba(58, 58, 58, 0.637);
}

.col-center {
	margin: 0 auto;
  float: none !important;
  box-shadow: 0px 5px 90px 0px #8747b1af;
  border-radius: 18px;
}
.carousel {
	margin: 30px auto 90px;
  padding: 0 30px;
  
}
.carousel .item {
    text-align: center;
  overflow: hidden;
}
.carousel .item img {
	max-width: 100%;
	display: inline-block;
}
.carousel .item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
background: rgba(209,70,252,1);
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .item .btn:hover {
	background: rgba(209, 70, 252, 0.644);
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
    background: rgb(224, 224, 224);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);    
}

.carousel .thumb-content {
	padding: 15px;
  font-size: 13px;
}

.carousel .carousel-control {
	height: 44px;
	width: 44px;
	background: none;	
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.right i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border-color: transparent;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555;
}

/* 6 PAGE CONTACT FORM */
#contact {
  padding: 50px 10px 110px 10px;
  margin:15px;
}

.contact h2 {
  padding: 20px  0;
}

.contact h4 {
  text-shadow: none;
  font-size: 1.1rem;
}


/* BUTTON IN CONTACT FORM */
.btn.btn-primary.btn-lg {

background: linear-gradient(207deg, rgb(209, 197, 90)  32%, rgba(209,70,252,1) 94%);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
}

.btn.btn-primary.btn-lg:hover {
  background: linear-gradient(207deg, rgba(233, 217, 73, 0.616) 32%, rgba(209, 70, 252, 0.39) 94%);
}

/* SOCIAL LINK ICONS in Contact form */
.fab.fa-github.fa-lg.s, 
.fab.fa-facebook.fa-lg.s, 
.fab.fa-instagram.fa-lg.s,   
.fab.fa-linkedin.fa-lg.s {
  color:rgb(209, 208, 208);
  padding:5px;
}

/* BACK TO TOP BUTTON */
.nav-link.backtotop {
color:rgba(233, 217, 73, 0.685);
font-size: 1.2rem;
}
/* bullet removal from unordered list */
li.nav-item {
  list-style-type: none;
}

li.nav-item a {
  color: #c850c0;
  font-size: 1.1rem;
  padding-bottom:15px;
}


footer {
  font-size: 0.9rem;
  padding: 5px 0 15px;
  text-align: center;
}
/*footer text color */
.copyright.justify-content-center.d-flex {
color: rgb(148, 147, 147);
}




/* MEDIA QUERY */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.img-fluid {
  max-width:250px;
  margin:30px 0 ;
    }
#skills {
  padding: 0 30px;
    }
.navbar-brand {
  visibility: hidden;
    }
.navbar-toggler-icon{
  float:right;
  border:none;
    }

    .col-center {
     margin: 40px 30px;
      box-shadow: 0px 5px 90px 0px #9e3bdf49;
      border-radius: 18px;
    }
  
    #home .home-inner {
      text-align: center;
      margin:10px;
      padding-top:105px;
      }
     #home{
       height: 500px;
        }
 }

/* Small devices (landscape phones, 576px and up) */
@media  (min-width: 575.99px) and (max-width: 767.98px) {
 
.img-fluid {
  max-width:350px;
  margin:30px 0;
    }
.navbar-brand {
  visibility: hidden;
    }

    #home .home-inner {
      text-align: center;
      margin:10px;
      padding-top:170px;
        }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)and (max-width:991px) { 

.img-fluid {
  margin:20px 0;
  max-width:380px;
    }
.webdesignp {
 padding-top:25px;
    }
#home .home-inner {
  text-align: center;
  margin:10px;
  padding-top:170px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) { 
 
 .img-fluid {
    margin:20px 0;
     }
  #home .home-inner {
    text-align: center;
    margin:40px;
    padding-top:180px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

   h2, h3,   h6 {
    text-align: center;
      }
  .contact h4 {
    text-align: left;
      }
  #home .home-inner {
    text-align: center;
    margin:40px;
    padding-top:190px;
    }

    .img-fluid  {
      max-width:450px;
      margin-left:50px;
    }
 }
